[submodule "bevy-kajiya"]
	path = bevy-kajiya
	url = https://github.com/Seabass247/bevy-kajiya.git
[submodule "kajiya"]
	path = kajiya
	url = https://github.com/Seabass247/kajiya.git
[submodule "egui-gizmo"]
	path = egui-gizmo
	url = https://github.com/Seabass247/egui-gizmo.git
