(
    instances: [
        (
            position: (0, -0.001, 0),
            mesh: "336_lrm",
            scale: 0.01,
        ),
        (
            position: (0, 0, 0),
            mesh: "floor",
            scale: 1.0,
        ),
    ]
)